<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container mt-4">

<h3>Admin Dashboard</h3>

<a href="/admin_delete" class="btn btn-danger mb-3">Delete Entry</a>

<form method="POST" action="/calculate">

<h5>Select Transactions</h5>
{% for e in data %}
<div class="form-check">
<input class="form-check-input" type="checkbox" name="tids" value="{{e['transaction_id']}}">
<label class="form-check-label">
{{e['name']}} - {{e['ration']}} - ₹{{e['amount']}}
</label>
</div>
{% endfor %}

<hr>

<h5>Select Users</h5>
{% for u in users %}
<div class="form-check">
<input class="form-check-input" type="checkbox" name="users" value="{{u['id']}}" checked>
<label>{{u['name']}}</label>
</div>
{% endfor %}

<button class="btn btn-success mt-3">Calculate Settlement</button>
</form>

<hr>

<h4>Settlements</h4>
{% for s in settlements %}
<a href="/view_settlement/{{s['settlement_id']}}" class="btn btn-outline-primary btn-sm">
{{s['settlement_id']}}
</a>
{% endfor %}

</div>
</body>
</html>
